*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

body{
     text-align: center;
    display: flex;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
} 

/* Header */
h1{
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 850px;
    color: #fff;
    font-weight: bolder;
    font-size: 100px;
}

.my{
    color: hsl(316, 50%, 24%);
}

/* Form */
#form{
    text-align: start;
    justify-content: flex-start;
    position: absolute;
    top: 150px;
    left: 100px;
    font-weight: bold;
    font-size: 50px;
    color: hsl(316, 50%, 24%);
}

.group{
    text-align: center;
    justify-content: space-around;
    display: flex;
    margin: 10px 10px;
    
}

label{
    line-height: 50px;
    padding-right: 10px;
}

.title{
    width: 500px;
    height: 50px;
    

}

.author{
    width: 500px;
    height: 50px;
}

.ISBN{
    width: 500px;
    height: 50px;
}
