*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

.BOOK-CTN{
    /* text-align: center;
    display: flex;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);*/
    }

/* Header */
.head{
    /* text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: 400px; */
}

.my{

}

/* Form */
#form{

}

.group{
    
}
